head
  title= title
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width")
  link(rel="stylesheet", href="/stylesheets/normalize.css")
  link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
  link(rel="stylesheet", href="/stylesheets/foundation.css")
  link(rel="stylesheet", href="/stylesheets/fullcalendar.css")
  link(rel="stylesheet", href="/stylesheets/jquery.filthypillow.css")
  link(rel="stylesheet", href="stylesheets/jquery.sidr.light.css")
  link(rel="stylesheet", href="stylesheets/vex.css")
  link(rel="stylesheet", href="stylesheets/vex-theme-wireframe.css")
  link(rel="stylesheet", href="stylesheets/validetta.css")
  link(rel="stylesheet", href="/less/app.css")
  script(src="/javascripts/vendor/custom.modernizr.js")
