script(src="/javascripts/vendor/jquery-1.10.2.js")
script(src="/javascripts/vendor/jquery-ui.custom.min.js")
script(src="/javascripts/vendor/jquery.slimscroll.min.js")
script(src="javascripts/vendor/jquery.sidr.min.js")
script(src="/javascripts/vendor/fade.js")
script(src="/javascripts/vendor/fullcalendar.min.js")
script(src="/javascripts/vendor/lodash.js")
script(src="/javascripts/vendor/moment-with-langs.js")
script(src="/socket.io/socket.io.js")
script(src="/javascripts/vendor/foundation.min.js")
script(src="/javascripts/vendor/vex.combined.min.js")
<script>vex.defaultOptions.className = "vex-theme-wireframe";</script>
script(src="/javascripts/vendor/validetta-min.js")
script(src="/javascripts/vendor/jquery.filthypillow.js")
script(src="/javascripts/vendor/backstretch.js")
script(src="/javascripts/app/utilities.js")
//- script(src="/javascripts/app/app.js")
script(src="/javascripts/app/clickhandlers.js")
